<div class="product-recommendations" data-product-id="{{ product.id }}" data-limit="4">
    {%- if recommendations.product_count > 0 -%}
        <h2>Related Items</h2>
        <ul>
            {%- for product in recommendations.products -%}
                <li class="product">
                    <a href="{{ product.url }}">
                        <img class="product__img" src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.featured_image.alt }}" />
                        <p class="product__title">{{ product.title }}</p>
                        <p class="product__price">{{ product.price | money }}</p>
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
</div>